.nav-header {
  box-shadow: 0px 10px 10px -15px #111;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.logo-heading {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 32px;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .logo-heading {
    font-size: 25px;
  }
}

.my-orders-text {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 15px;
  color: #585555;
  display: block;
}

@media screen and (max-width: 576px) {
  .my-orders-text {
    display: none;
  }
}

.cart-container {
  display: flex;
  padding-top: 10px;
  padding-right: 10px;
}

.cart-icon-container {
  display: flex;
  position: relative;
}

.cart-count-badge {
  position: absolute;
  top: -20px;
  right: -15px;
}

.cart-count {
  text-align: center;
  background-color: #ff6347;
  padding: 4px 2px 2px;
  color: #ffff;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  min-width: 25px;
  border-radius: 50%;
}
